.navbar{
  /* sfondo azzurro */
  background-color: #111;
  width: 100%;
}
.navbar-element{
  /* eredita il colore dell'elemento padre */
  background-color: inherit;
  display: inline-block;
  font-family: "lucida console", monospace;
  font-weight: bold;
  font-size: 30px;
  text-decoration-color: white;
  padding: 20px;
  border-right-style: solid;
  border-width: 2px;
  border-color: white;
}
.navbar-element.active{
  background-color: red;
}
.link:link, .link:visited{
  text-decoration: none;
  color: white;
}
.link:hover{
  text-decoration: none;
  color: #f00
}
body{
  background-image: url("images/background-dragho.png");
  background-size: 100%;
  color: white;
}
.title{
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  font-family: "arial black", sans-serif;
  font-size: 60px;
}
.text{
  margin-left: 41%;
  font-family: "lucida console", monospace;
  font-style: italic;
  font-size: 25px;
  text-align: justify;
}
.image{
  width: 39%;
  margin-left: 1%;
  float: left;
}
.article-preview{
  margin-top: 10%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 40px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  margin-bottom: 10%;
}
.go-to-article-link:link, .go-to-article-link:visited{
  text-decoration: none;
  color: cyan;
}
